body {
  border: 4px solid #000;
  font-family: sans-serif;
}

h2 {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.transportation {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.product-details {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: bold;
}

ul li {
  list-style: square;
  line-height: 1.5;
}

button {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #fff;
  color: #000;
}
