/* body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  min-width: 400px;
  flex-flow: row wrap;
  display: flex;
  zoom: 0.8;
}
article {
  flex: 1 100px;
  padding: 10px;
  margin: 10px;
  background: aqua;
}

article:nth-of-type(3) {
  flex: 2 100px;
} */
/* Add your flexbox CSS below here */

body {
  font-family: sans-serif;
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}
div {
  height: 100px;
  border: 1px solid black;
}
button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}
/* Add your flexbox CSS below here */
div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
